<?php
// Please consider copying this file in config.php and replace fake values by yours.

// mysql username
define('DB_USER', 'your mysqluser');

// mysql password
define('DB_PASSWORD', 'your password');

// MySQL-server
define('DB_HOST', 'open-gps-tracker-mysql-1');

// name of database
define('DB_NAME', 'database name');

// name of competition
define('COMP_NAME', 'Test competiton');
